// THEME
// Allowed values: Dark, Light, Default
$theme: Dark;

// Allowed values: blue-beans, rogers-rovers, pastry-pizza
$brand: rogers-rovers;

// COLORS
$text-color: #222222;
$body-background-color: #fff;
$theme-color: #170a48;
$secendary-color: #f27731;
$ternary-color: #ccf962;
$link-color: $secendary-color;
$menu-item-color: #ffffff;
$warning-button-background-color: orange;

@if $theme == Dark {
    $text-color: #fff;
    $body-background-color: #22222a;
    $theme-color: #42424a;
    $secendary-color: #C24721;
    $ternary-color: #698932;
    $link-color: $secendary-color;
    $menu-item-color: #ffffff;
    $warning-button-background-color: rgb(255, 102, 0);
} @else if $theme == Light {  
    $text-color: #000;
    $body-background-color: #fff;
    $theme-color: #372a27;
    $secendary-color: #d26741;
    $ternary-color: #b9da63;
    $link-color: $secendary-color;
    $menu-item-color: #ffffff;
    $warning-button-background-color: rgb(255, 0, 0);
}

// FONTS
$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: "Titillium Web", Georgia, serif;

// SIZES
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;
$col: col-width($columns: 8);